.file:hover{
    background-color: aliceblue;
}

.file>p{
    padding-top: 5px;
    text-align: center;
    overflow-wrap: break-word;
}

.file-list{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.file{
    width: 100px;
    margin: 20px;
    height: 130px;
}