.file:hover{
    background-color: aliceblue;
}

.file>p{
    padding-top: 5px;
    text-align: center;
    overflow-wrap: break-word;
}

.file-list{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding-top: 20px;
    overflow-y: hidden;
}

.file{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.file img {
    width: 35%;
}