.main {
    overflow-y: auto;
    padding-left: 0;
}

nav{
    overflow-x: hidden;
}

.btn {
    color: white;
    font-size: 25px;
}

.web-name{
    top: 3.25%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.repo-zone {
    width: 20vw;
    /* min-width: 200px; */
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    position: fixed;
}

.detail-zone {
    width: auto;
    height: 100%;
    position: relative;
    color: #495057;
}

.relative-link{
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    width: auto;
    position: relative;   
}

.animate__animated.animate__slideInLeft {
    --animate-duration: 0.3s;
}

.animate__animated.animate__fadeInRight {
    --animate-duration: 0.3s;
}

#search-input{
    background-color: white;
    margin: auto;
    font-size: 20px;
    border-radius: 5px;
}

.form-control:focus{
    border-color: #ced4da;
    box-shadow: none;
}