.main {
    overflow-y: auto;
    padding-left: 0;
}

nav{
    overflow-x: hidden;
}

.btn {
    color: white;
    font-size: 25px;
}

.web-name{
    transform: translate(-25%, 5%);
}

.repo-zone {
    width: 20vw;
    height: 93vh;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    position: fixed;
    padding-left: 0;
    padding-right: 0;
}

.detail-zone {
    width: auto;
    height: 93vh;
    position: relative;
    color: #495057;
}

.animate__animated.animate__slideInLeft {
    --animate-duration: 0.3s;
}