.btn {
    color: white;
    font-size: 25px;
}

.repo-zone {
    width: 20vw;
    height: 93vh;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    position: fixed;
}

.detail-zone {
    width: auto;
    height: 93vh;
    position: relative;
    color: #495057;
}

.main {
    overflow-y: auto;
    padding-left: 0;
}

.file:hover{
    background-color: aliceblue;
}

.relative-link-zone{
    width: fit-content;
    position: fixed;
}

.relative-link{
    margin: auto;
}

p{
    padding-top: 5px;
    text-align: center;
    overflow-wrap: break-word;
}

.file-list{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.file{
    width: 100px;
    margin: 20px;
    height: 130px;
}

.animate__animated.animate__slideInLeft {
    --animate-duration: 0.3s;
}