/* .container{
    background-image: url("imgs/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

body{
    background-color: #87c3ce;
} */