.btn{
    color: white;
    font-size: 20px;
}

.repo-zone{
    width: 15%;
    height: 93vh;
    position: fixed;
}

.detail-zone{
    width: auto;
    height: 93vh;
    position: relative;
}

.main{
    overflow-y: auto;
}