ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    user-select: none;
}

.fa-angle-right .fa-angle-down {
    cursor: pointer;
    user-select: none;
}

.fa-angle-down {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.hidden {
    display: none;
}

.active {
    display: block;
}

.folder{
    padding-left: 16px;
}

.file{
    padding-left: 32px;
}

.note{
    padding-left: 48px;
}

.folder:hover,.file:hover,.note:hover{
    background-color: gainsboro;
}