ul {
    list-style-type: none;
    padding-left: 16px;
    user-select: none;
}

.fa-angle-right .fa-angle-down {
    cursor: pointer;
    user-select: none;
}

.fa-angle-down {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}